New Work

In [4]:
a="Charles"
b=23455
c=2.15
d=True

In [12]:
print (a),(b) ,(c),(d)

Charles

(None, 23455, 2.15, True)

In [15]:
mixed_list = [1, 'abc', True, 2.34,]

In [17]:
print (mixed_list)

[1, 'abc', True, 2.34]

In [41]:
names = 'Charles',  "Harry",   "Diane", "Gwen"

In [42]:
print(names)

('Charles', 'Harry', 'Diane', 'Gwen')

In [43]:
print(names[-1])

Gwen

In [44]:
print(names[-2])

Diane

In [47]:
print(names [0])

Charles

New Names

In [60]:
names = ['Alice', 'Craig', 'Barry', 'Harry', 'Paul,']
names.append ("Susan")

In [61]:
print (names)

['Alice', 'Craig', 'Barry', 'Harry', 'Paul,', 'Susan']

In [65]:
print (names)

['Alice', 'Craig', 'Barry', 'Harry', 'Paul,', 'Susan']

In [66]:
names.insert(1, "Nikki")

In [67]:
print (names)

['Alice', 'Nikki', 'Craig', 'Barry', 'Harry', 'Paul,', 'Susan']

In [68]:
names.remove("Harry")

In [69]:
print(names)

['Alice', 'Nikki', 'Craig', 'Barry', 'Paul,', 'Susan']

In [70]:
names.index("Craig")

2

In [73]:
names.index("Alice")

0

In [75]:
names.index("Alice"), ("Nikki",)

(0, ('Nikki',))

Names

In [90]:
names=["Salman", "Arbaz", "Sohail", "Bhola", "Danyal"]
print(names[0])
print(names[3])
print(names[2])
print(names[4])

Salman
Bhola
Sohail
Danyal

TYPE OF LIST

In [91]:
empty_list =[]

In [92]:
mixed_list =[1, 'abc', True, 2.34, None]

In [93]:
print (mixed_list)

[1, 'abc', True, 2.34, None]

In [94]:
nested_list =[['a', 'b', 'c',], [1, 2, 3]]

In [95]:
print (nested_list)

[['a', 'b', 'c'], [1, 2, 3]]

In [107]:
names= ['Paisley', 'Brenda', 'Eric', 'Craig', 'Selby']
print(names [0])
print(names [1])
print(names[2])
print(names[3])
print(names[4])

Paisley
Brenda
Eric
Craig
Selby

In [110]:
print(names[-1])
print (names[-4])
print(names[-2])

Selby
Brenda
Craig

In [112]:
names [0]='Brenda'

In [114]:
print (0)

0