In [1]:
spareParts=["tyre", "wheel", "Bumper", "wipers"]

In [5]:
for a in spareParts:
    print(a)

tyre
wheel
Bumper
wipers

In [12]:
for a in range (1,11):
    print(a)

1
2
3
4
5
6
7
8
9
10

In [15]:
for a in range(1,11):
    print (a,"julie")

1 julie
2 julie
3 julie
4 julie
5 julie
6 julie
7 julie
8 julie
9 julie
10 julie

In [26]:
for a in range(1,11):
    print("2 x", a ,"=" ,a*2)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [30]:
for a in range (1,11):
    print("3 x" ,a , "=" ,a*3)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [32]:
for a in range(1,11):
    print("4 x", a, "=", a*4)

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [34]:
for a in range (1,11):
    print("5 x", a, "=", a*5)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [35]:
balance=365
print(balance)

365

In [2]:
for a in range (1,11):
    print("6 x", a, "=", a*6)

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [7]:
for a in range(1,11):
    print ("7 x", a, "=" ,a*7)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [10]:
for a in range(1,16):
    print ("8 x", a, "=", a*8)

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96
8 x 13 = 104
8 x 14 = 112
8 x 15 = 120

In [12]:
for a in range(1,21):
    print("9 x" ,a, "=" ,a*9)

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108
9 x 13 = 117
9 x 14 = 126
9 x 15 = 135
9 x 16 = 144
9 x 17 = 153
9 x 18 = 162
9 x 19 = 171
9 x 20 = 180

In [14]:
for a in range(1,11):
    print("10 x", a, "=", a*10)

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [15]:
for a in range (1,11):
    print ("3 +", a, "=", a+3)

3 + 1 = 4
3 + 2 = 5
3 + 3 = 6
3 + 4 = 7
3 + 5 = 8
3 + 6 = 9
3 + 7 = 10
3 + 8 = 11
3 + 9 = 12
3 + 10 = 13

In [22]:
for a in range (1,11):
    print ("2 /", a, "=", 2/a)

2 / 1 = 2.0
2 / 2 = 1.0
2 / 3 = 0.6666666666666666
2 / 4 = 0.5
2 / 5 = 0.4
2 / 6 = 0.3333333333333333
2 / 7 = 0.2857142857142857
2 / 8 = 0.25
2 / 9 = 0.2222222222222222
2 / 10 = 0.2

In [26]:
for a in range (1,15):
    print("4 +", a, "=", a+4)

4 + 1 = 5
4 + 2 = 6
4 + 3 = 7
4 + 4 = 8
4 + 5 = 9
4 + 6 = 10
4 + 7 = 11
4 + 8 = 12
4 + 9 = 13
4 + 10 = 14
4 + 11 = 15
4 + 12 = 16
4 + 13 = 17
4 + 14 = 18