In [1]:
spareParts=["tyre", "wheel", "Bumper", "wipers"]

In [5]:
for a in spareParts:
    print(a)

tyre
wheel
Bumper
wipers

In [32]:
for a in range (1,6):
    print(a)

1
2
3
4
5

In [27]:
for a in range(1,11):
    print (a,"bambi")

1 bambi
2 bambi
3 bambi
4 bambi
5 bambi
6 bambi
7 bambi
8 bambi
9 bambi
10 bambi

In [33]:
for a in range(1,7):
    print("3 x", a ,"=" ,a*3)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18

In [30]:
for a in range (1,11):
    print("3 x" ,a , "=" ,a*3)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [30]:
for a in range(1,5):
    print("4 x", a, "=", a*4)

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16

In [34]:
for a in range (1,11):
    print("5 x", a, "=", a*5)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [29]:
balance=234
print(balance)

234

In [2]:
for a in range (1,11):
    print("6 x", a, "=", a*6)

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [34]:
for a in range(2,11):
    print ("7 x", a, "=" ,a*7)

7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [10]:
for a in range(1,16):
    print ("8 x", a, "=", a*8)

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96
8 x 13 = 104
8 x 14 = 112
8 x 15 = 120

In [35]:
for a in range(1):
    print("9 x" ,a, "=" ,a*9)

9 x 0 = 0

In [36]:
for a in range(1,6):
    print("10 x", a, "=", a*10)

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50

In [15]:
for a in range (1,11):
    print ("3 +", a, "=", a+3)

3 + 1 = 4
3 + 2 = 5
3 + 3 = 6
3 + 4 = 7
3 + 5 = 8
3 + 6 = 9
3 + 7 = 10
3 + 8 = 11
3 + 9 = 12
3 + 10 = 13

In [37]:
for a in range (1,11):
    print ("3/", a, "=", 3/a)

3/ 1 = 3.0
3/ 2 = 1.5
3/ 3 = 1.0
3/ 4 = 0.75
3/ 5 = 0.6
3/ 6 = 0.5
3/ 7 = 0.42857142857142855
3/ 8 = 0.375
3/ 9 = 0.3333333333333333
3/ 10 = 0.3

In [38]:
for a in range (0,20):
    print("10 +", a, "=", a+10)

10 + 0 = 10
10 + 1 = 11
10 + 2 = 12
10 + 3 = 13
10 + 4 = 14
10 + 5 = 15
10 + 6 = 16
10 + 7 = 17
10 + 8 = 18
10 + 9 = 19
10 + 10 = 20
10 + 11 = 21
10 + 12 = 22
10 + 13 = 23
10 + 14 = 24
10 + 15 = 25
10 + 16 = 26
10 + 17 = 27
10 + 18 = 28
10 + 19 = 29