In [21]:
for a in range(1,11):
     print ("4 x, a", "=", a*4)

4 x, a = 4
4 x, a = 8
4 x, a = 12
4 x, a = 16
4 x, a = 20
4 x, a = 24
4 x, a = 28
4 x, a = 32
4 x, a = 36
4 x, a = 40

In [20]:
for a in range (1,16):
    print ("7 x, a", "=", a*7)

7 x, a = 7
7 x, a = 14
7 x, a = 21
7 x, a = 28
7 x, a = 35
7 x, a = 42
7 x, a = 49
7 x, a = 56
7 x, a = 63
7 x, a = 70
7 x, a = 77
7 x, a = 84
7 x, a = 91
7 x, a = 98
7 x, a = 105

In [19]:
for a in range (1,16):
    print ("a x, 7", "=", 7*a)

a x, 7 = 7
a x, 7 = 14
a x, 7 = 21
a x, 7 = 28
a x, 7 = 35
a x, 7 = 42
a x, 7 = 49
a x, 7 = 56
a x, 7 = 63
a x, 7 = 70
a x, 7 = 77
a x, 7 = 84
a x, 7 = 91
a x, 7 = 98
a x, 7 = 105

In [18]:
for a in range (1,13):
    print ("8 x, a", "=", a*8)

8 x, a = 8
8 x, a = 16
8 x, a = 24
8 x, a = 32
8 x, a = 40
8 x, a = 48
8 x, a = 56
8 x, a = 64
8 x, a = 72
8 x, a = 80
8 x, a = 88
8 x, a = 96

In [17]:
for a in range (1,21):
    print ("9 x, a", "=", a*9)

9 x, a = 9
9 x, a = 18
9 x, a = 27
9 x, a = 36
9 x, a = 45
9 x, a = 54
9 x, a = 63
9 x, a = 72
9 x, a = 81
9 x, a = 90
9 x, a = 99
9 x, a = 108
9 x, a = 117
9 x, a = 126
9 x, a = 135
9 x, a = 144
9 x, a = 153
9 x, a = 162
9 x, a = 171
9 x, a = 180

In [16]:
for a in range (1,8):
    print ("70 x, a", "=", a*70)

70 x, a = 70
70 x, a = 140
70 x, a = 210
70 x, a = 280
70 x, a = 350
70 x, a = 420
70 x, a = 490

In [15]:
for a in range (1,10):
    print ("12 +, a", "=", a+12)

12 +, a = 13
12 +, a = 14
12 +, a = 15
12 +, a = 16
12 +, a = 17
12 +, a = 18
12 +, a = 19
12 +, a = 20
12 +, a = 21

In [14]:
for a in range (1,5):
    print ("6 x, a", "=", a*6)

6 x, a = 6
6 x, a = 12
6 x, a = 18
6 x, a = 24

In [13]:
for a in range (1,13):
    print ("5 x, a" "=", a*5)

5 x, a= 5
5 x, a= 10
5 x, a= 15
5 x, a= 20
5 x, a= 25
5 x, a= 30
5 x, a= 35
5 x, a= 40
5 x, a= 45
5 x, a= 50
5 x, a= 55
5 x, a= 60

In [12]:
for a in range (1,5):
    print("Miah")

Miah
Miah
Miah
Miah

In [11]:
for a in range (1,5):
    print (2345)

2345
2345
2345
2345

In [10]:
for a in range (1,5):
    print ("5 x, a", "=", a*5)

5 x, a = 5
5 x, a = 10
5 x, a = 15
5 x, a = 20

In [9]:
for a in range (0,3):
    print("4")

4
4
4

In [8]:
for a in range (2,7):
    print("13 +, a=2" , "=", a+13)

13 +, a=2 = 15
13 +, a=2 = 16
13 +, a=2 = 17
13 +, a=2 = 18
13 +, a=2 = 19

In [7]:
for a in range (1,6):
    print ("11 + a=4", "=", a+11)

11 + a=4 = 12
11 + a=4 = 13
11 + a=4 = 14
11 + a=4 = 15
11 + a=4 = 16

In [1]:
for a in range (1,11):
    print ("12 - a", "=" , 12-a)

12 - a = 11
12 - a = 10
12 - a = 9
12 - a = 8
12 - a = 7
12 - a = 6
12 - a = 5
12 - a = 4
12 - a = 3
12 - a = 2

In [2]:
for a in range (1,11):
    print ("9 * a", "=", a*9)
    
    print ("a=1", "b=2")

9 * a = 9
a=1 b=2
9 * a = 18
a=1 b=2
9 * a = 27
a=1 b=2
9 * a = 36
a=1 b=2
9 * a = 45
a=1 b=2
9 * a = 54
a=1 b=2
9 * a = 63
a=1 b=2
9 * a = 72
a=1 b=2
9 * a = 81
a=1 b=2
9 * a = 90
a=1 b=2

In [6]:
for a in range (1,11):
    print ("a + 7", "=" , a+7)

a + 7 = 8
a + 7 = 9
a + 7 = 10
a + 7 = 11
a + 7 = 12
a + 7 = 13
a + 7 = 14
a + 7 = 15
a + 7 = 16
a + 7 = 17

In [5]:
for a in range (1,6):
    print ("Priya *5")

Priya *5
Priya *5
Priya *5
Priya *5
Priya *5

multiplication table

In [ ]:
# n = int(input("enter the number:"))
# for i in range (1,11) :
  #      print(n,"*", i, "=",n*i)

#Multiplication

In [4]:
for a in range (1,11):
    print ("5 * a", "=", a*5)

5 * a = 5
5 * a = 10
5 * a = 15
5 * a = 20
5 * a = 25
5 * a = 30
5 * a = 35
5 * a = 40
5 * a = 45
5 * a = 50

In [ ]:
a=10
print (a)

In [ ]:
a="albert"

In [ ]:
print(a)

Number Pattern

In [ ]:
n = int(input ("enter numbers of rows needed:"))
for i in range(n):
    for j in range (i+1):
    print(j+1, end=" ")

In [25]:
a=("Hamlet")
b=786
c=3.16
d=True

In [32]:
print (a), (b), (c), (d)

Hamlet

(None, 786, 3.16, True)

In [33]:
sum = 0
for i in range(10):
    sum = sum + 1
    print (sum)

1
2
3
4
5
6
7
8
9
10

In [39]:
sum = 50
for i in range (10):
    sum = sum + 10
    print (sum)

60
70
80
90
100
110
120
130
140
150

In [41]:
sum = 25
for i in range (5):
    sum = sum * (5)
    print (sum)

125
625
3125
15625
78125

In [44]:
sum = 100
for i in range (10):
    sum = sum * (10)
    print (sum)

1000
10000
100000
1000000
10000000
100000000
1000000000
10000000000
100000000000
1000000000000

In [56]:
for a in range (1,11):
    print ("6 + a", "=", a+6)

6 + a = 7
6 + a = 8
6 + a = 9
6 + a = 10
6 + a = 11
6 + a = 12
6 + a = 13
6 + a = 14
6 + a = 15
6 + a = 16

In [62]:
for a in range (1,7,):
    print ("8 + a", "=", a+8 )

8 + a = 9
8 + a = 10
8 + a = 11
8 + a = 12
8 + a = 13
8 + a = 14